@import "~bootstrap/scss/bootstrap";

$fa-font-path : "/fonts/font-awesome";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

::selection {
  color: red;
  background: yellow;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.footer-icon:hover {
  opacity: .7;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.zoom-container {
  overflow: hidden;
  display: block;
  max-height: 300px;

  img:hover {
    transition: all .5s;
    transform: scale(1.1);
  }

}
